.oneTicketPage {
    margin-top: 4vh;
    margin-left: 25vw;
}

.ticketCard {
    width: 700px;
}

.title-card:hover {
    text-decoration: none !important;
}

.edit-bttn {
    width: 54vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edit-bttn > button {
    padding: 15px 40px;
    width: 250px;
    margin: 15px;
    border-radius: 10px;
    border: none;
    background-color: #8481E2;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.edit-bttn .delete {
    background-color: rgba(255, 255, 255, 0.4);
}

.edit-bttn .delete:hover {
    background-color: rgba(148, 148, 148, 0.4);
}

.edit-bttn .update:hover {
    background-color: #6260a0;
}

.backIcon {
    margin-bottom: 20px;
    cursor: pointer;
}

.backIcon:hover {
    color: #6260a0;
}

@media only screen and  (max-width: 900px) {
    .oneTicketPage {
        margin-left: 100px;
        width: 500px;
        margin: 5vh auto;
    }

    .ticketCard {
        width: 500px;
    }

    .edit-bttn {
        width: 500px;
    }
}

@media only screen and  (max-width: 650px) {
    .oneTicketPage {
        width: 400px
    }

    .ticketCard {
        width: 400px;
    }

    .edit-bttn {
        width: 400px;
    }
}

@media only screen and (max-width: 550px) {
    .oneTicketPage {
        width: 300px;
        margin: 5vh 2vh 2vh 100px;
    }
}