.ticketCard {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    padding: 15px 30px;
    margin-top: 20px;
    width: 50vw !important;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ticketCard__left {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.ticketCard__left h3:hover, .ticketCard__left .spanOrg:hover {
    cursor: pointer;
    text-decoration: underline;
}

.ticketCard__right {
    display: flex;
}

.priority-circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-left: 5px;
}

.status-container {
    margin: 2px 5px;
    width: 70px;
    border-radius: 20px;
}

.status-container p {
    text-align: center;
    font-size: 14px;
}

@media only screen and (max-width: 900px) {
    .ticketCard {
        border-radius: 15px;
        width: 500px !important;
    }
}

@media only screen and (max-width: 650px) {
    .ticketCard {
        width: 400px !important;
    }
}

@media only screen and (max-width: 550px) {
    .ticketCard {
        width: 300px !important;
    }
    .status-container,
    .priority-circle {
        height: 10px;
        width: 10px;
    }
    .status-container p {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .ticketCard {
        width: 65vw !important;
    }
}

@media only screen and (max-width: 370px) {
    .ticketCard {
        width: 65vw;
        padding: 15px;
    }
}