.dashboardCard {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    padding: 15px 30px 0 30px;
    margin-top: 20px;
    width: 50vw;
}

.priority-navigator-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.bttn {
    padding-bottom: 15px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

.activePriority {
    border-bottom: 3px solid white;
}

.activePriority h4 {
    font-weight: 600;
}

.bttn:hover > h4 {
    font-weight: 600;
    cursor: pointer;
}

@media only screen and (max-width: 900px) {
    .dashboardCard {
        border-radius: 15px;
        width: 500px;
    }
}

@media only screen and (max-width: 650px) {
    .dashboardCard {
        width: 400px;
    }
}

@media only screen and (max-width: 550px) {
    .dashboardCard {
        width: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .dashboardCard {
        width: 65vw;
    }

    .bttn h4 {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 370px) {
    .dashboardCard {
        width: 65vw;
        padding: 15px 15px 5px 15px;
    }

    .priority-navigator-container {
        justify-content: space-between;
    }

    .bttn {
        padding-bottom: 5px
    }

    .bttn h4 {
        font-size: 8px !important;
    }
}