.ticketsPage {
    margin-top: 8vh;
    margin-left: 25vw;
}

.purple {
    background-color: #8481e2;
}

@media only screen and  (max-width: 900px) {
    .ticketsPage {
        margin-left: 100px;
        width: 500px;
        margin: 5vh auto;
    }
}

@media only screen and  (max-width: 650px) {
    .ticketsPage {
        width: 400px
    }
}

@media only screen and (max-width: 550px) {
    .ticketsPage {
        width: 300px;
        margin: 5vh 2vh 2vh 100px;
    }
}

@media only screen and (max-width: 480px) {
    .ticketsPage {
        width: 80vw;
        margin: 80px 2vh 2vh 50px;
    }
}

@media only screen and (max-width: 370px) {
    .ticketsPage {
        width: 60vw;
        margin: 80px 2vh 2vh 50px;
    }
}