.oneOrganizationPage {
    margin-top: 4vh;
    margin-left: 25vw;
}

.dropdown-menu {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.dropdown-menu:hover {
    background-color: #8481E2;
}