* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #040406; */
  background-color: #1e1e1e;
  min-height: 100vh;
  color: white;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 16px;
}



h1, h2, h3, h4 {
  line-height: 1.4em;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
